{% extends 'base.html.twig' %}

{% block title %}Votre panier{% endblock %}

{% block body %}

    <section class="bg-light p-3">
        <h1>Votre panier</h1>
    </section>
 <form>
    <table class="table">
        <thead>
            <tr>
                <th>Produit</th>
                <th>Prix</th>
                <th>Quantité</th>
                <th>Total</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
       
        {% for element in dataCart %}  
                <tr>
                    <td>{{ element.activites.categorie.title }} </td>
                    <td >{{ element.activites.price }}  €</td>
                    <td>  {{ element.quantite  }}   </td>
                    <td>  {{ element.quantite * element.activites.price }} </td>
                   
                    <td>
                        <a href="{{path("cart_add", {id: element.activites.id})}}" class="btn btn-success">
                             🛒 + 1
                        </a>
                        <a href="{{path("cart_remove", {id: element.activites.id})}}" class="btn btn-warning">
                          🛒 - 1
                        </a>
                        <a href="{{path("cart_delete", {id: element.activites.id})}}" class="btn btn-danger">
                          🛒 Supprimer
                        </a>
                    </td>
                </tr>
          {% else %} 
                <tr>
                    <td colspan="5" class="text-center">Votre panier est vide</td>
                </tr>
           {% endfor %} 
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3">Total </td>
                <td class="text-start">{{ total }} €</td>
                <td>
                    <a href="{{path("cart_delete_all")}}" class="btn btn-danger">
                           Vider le panier
                    </a>
                   
                </td>
            </tr>
        </tfoot>
    </table>
    
     <a href="#" class="btn btn-success">
                           Valider le panier
                    </a>
  </form>
    
{% endblock %}
