{% extends 'base.html.twig' %}

{% block title %}Hello SeanceController!{% endblock %}

{% block body %}
<main class="container">
   <section class="row">
        <div class="col-12">
          
           {% for seance in seances %}
           <div class="container">
             <div class="row align-items-start"> 
                <div class="col">
                   <h3>Activité: </h3> 
                 <h3> {{ seance.categorie.title }}</h3> 
                </div>
                <div class="col">
                   <h4>Places disponibles: </h4>  
                     <h4> {{ seance.stock }} </h4> 
                </div>
                <div class="col">
                   <h4>Prix: </h4>  
                   <h4> {{ seance.price }} </h4>  
                </div>
                <div class="col">
                   <h4>Dates:  </h4>   
                   <h4> {{ seance.datedelaseance|date("Y/m/d") }} </h4> 
                </div> 
                <div class="col">
                   <a href="{{ path("cart_add", {id: seance.id}) }}" class="btn btn-success">
                     Ajouter 🛒
                   </a>  
                </div> 
             </div>
          </div>
          {% endfor %} 
       </div>           
   </section>
</main>  
{% endblock %}
